{:replica {:host #or [#env HOST "localhost"]
           :port #or [#env PORT "5000"]
           :mode #or [#env MODE "bootstrap"]
           :session-timeout #or [#env SESSION_TIMEOUT "5000"]}
 :storage {:level :disk}
 :seed    {:provider      #env PROVIDER
           :nodes         #env NODES
           :k8s-namespace #env K8S_NAMESPACE}}
